@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-sky-light: #E9F2F9;
  --color-sky: #61B1F5;
  --color-navy: #17468A;
  --color-primary: #007BFF;

  --color-whatsapp: #55cd6c;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background: #ffffff;
  color: #000000;
}

h1, h2, h3, .font-display {
  font-family: var(--font-display);
}
