RewriteEngine On
RewriteBase /

# Redirect trailing slashes
RewriteRule ^(.*)/$ / [L,R=301]

# Route to index.html if file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]
